<div style="font-family: BNazanin, Tahoma, sans-serif;
            font-size: 14px;
            text-align: justify;
            direction: rtl;
            line-height: 1.8">
  <p>
    <strong>ماده 1 : طرفين قرارداد</strong>
  </p>
  {% for seller in seller_list %}
    <p>
      <strong>1-1- موجر</strong> {{ seller.name }} فرزند {{ seller.father_name }} به شماره شناسنامه {{ seller.national_id }} صادره از {{ seller.city_of_issuance }} کد ملي {{ seller.national_id }} متولد {{ seller.birth_date }} ساکن {{ seller.address }} تلفن {{ seller.phone }} با وکالت/قيمومت/ولايت/وصايت ...... فرزند ...... به شماره شناسنامه ...... متولد ...... به موجب ......
    </p>
  {% endfor %}
  {% for buyer in buyer_list %}
    <p>
      <strong>2-1- مستأجر</strong> {{ buyer.name }} فرزند {{ buyer.father_name }} به شماره شناسنامه {{ buyer.national_id }} صادره از {{ buyer.city_of_issuance }} کد ملي {{ buyer.national_id }} متولد {{ buyer.birth_date }} ساکن {{ buyer.address }} تلفن {{ buyer.phone }} با وکالت/قيمومت/ولايت/وصايت ...... فرزند ...... به شماره شناسنامه ...... متولد ...... بموجب ......
    </p>
  {% endfor %}
  <p>
    <strong>ماده 2: موضوع و مشخصات مورد اجاره</strong>
  </p>
  <p>
    مورد اجاره عبارت است از {{ property.property_dang }} دانگ از {{ property.property_title }} داراي پلاک ثبتي شماره {{ property.registry_sub_number }} فرعي از {{ property.registry_main_number }} اصلي، قطعه {{ property.registry_piece_number }} واقع در بخش {{ property.registry_section }} حوزه ثبتي {{ property.registry_area }} به مساحت {{ property.area_m2 }} متر مربع دارای سند مالکیت به شماره سریال {{ property.deed_serial }} صفحه {{ property.deed_page }} دفتر {{ property.deed_book }} بانضمام {{ property.parking_dang }} دانگ پارکینگ شماره {{ property.parking_number }} فرعی و {{ property.storage_dang }} دانگ انبار شماره {{ property.storage_number }} فرعی از {{ property.registry_main_number }} اصلی. داراي حق اشتراک آب {{ property.water_share }} / برق {{ property.electricity_share }} / گاز {{ property.gas_share }}. تلفن به شماره {{ property.phone_numbers }} به نشاني {{ property.property_address }}.
  </p>
  <p>
    <strong>ماده 3 : اجاره‌بها و ودیعه</strong>
  </p>
  <p>
    1-3- اجاره‌بهای ماهانه مورد توافق طرفین مبلغ ...... ریال معادل ...... تومان وجه رایج مملکتی است که مستأجر متعهد است به صورت ...... (ماهانه / سه‌ماهه / شش‌ماهه / سالانه) و حداکثر تا ...... هر ماه به موجر پرداخت نماید.
  </p>
  <p>
    2-3- ودیعه به مبلغ ...... ریال معادل ...... تومان به عنوان تضمین اجرای تعهدات از ناحیه مستأجر در ابتدای قرارداد دریافت و موجر متعهد است در پایان مدت اجاره و پس از تحویل صحیح و سالم مورد اجاره، ودیعه را پس از کسر خسارات احتمالی به مستأجر عودت نماید.
  </p>
  <p>
    <strong>تبصره 1 :</strong> تأخیر در پرداخت اجاره‌بها به ازای هر روز ...... ریال جریمه تأخیر به عهده مستأجر خواهد بود.
  </p>
  <p>
    <strong>تبصره 2 :</strong> موجر متعهد گردید مورد اجاره را در تاریخ ...... صحیح و سالم تحویل مستأجر دهد و مستأجر متعهد است در پایان مدت اجاره ملک را تخلیه و تحویل موجر نماید.
  </p>
  <p>
    <strong>ماده 4 : مدت اجاره</strong>
  </p>
  <p>1-4- مدت این قرارداد اجاره ...... ماه / سال از تاریخ ...... تا ...... می‌باشد.</p>
  <p>2-4- در صورت تمدید، شرایط اجاره‌بها و ودیعه با توافق طرفین تعیین خواهد شد.</p>
  <p>
    <strong>ماده 5 : تحویل و تخلیه مورد اجاره</strong>
  </p>
  <p>
    1-5- موجر موظف است مورد اجاره را در تاریخ ...... با تمام توابع و ملحقات آن تحویل مستأجر دهد و هرگونه موانع در بهره‌برداری را برطرف کند.
  </p>
  <p>
    2-5- مستأجر موظف است در پایان مدت اجاره، مورد اجاره را بدون هرگونه دخل و تصرف غیرمجاز و با همان وضعیت تحویل (به استثنای فرسودگی عادی) تخلیه و به موجر تحویل دهد.
  </p>
  <p>
    3-5- در صورت عدم تخلیه به موقع، مستأجر به ازای هر روز تأخیر مبلغ ...... ریال به عنوان جریمه تأخیر تخلیه به موجر پرداخت خواهد نمود.
  </p>
  <p>4-5- کلیه هزینه‌های ناشی از تحویل و تحویل‌گیری بر عهده ...... است، مگر اینکه به صورت دیگری توافق شده باشد.</p>
  <p>
    <strong>ماده 6 : تعهدات و آثار قرارداد</strong>
  </p>
  <p>
    1-6- موجر متعهد است در مدت اجاره از انتقال یا تغییر وضعیت ملک به گونه‌ای که به حق مستأجر لطمه وارد شود خودداری نماید. در صورت تخلف، مستأجر حق فسخ و مطالبه خسارت را دارد.
  </p>
  <p>
    2-6- مستأجر مجاز به واگذاری یا زیراجاره دادن تمام یا بخشی از مورد اجاره بدون رضایت کتبی موجر نیست. در صورت تخلف، موجر حق فسخ قرارداد را دارد.
  </p>
  <p>3-6- هزینه‌های آب، برق، گاز، تلفن و عوارض مربوط به دوره استفاده بر عهده مستأجر است.</p>
  <p>4-6- کلیه خیارات از جمله خیار غبن به استثنای خیار تدلیس با اقرار طرفین اسقاط گردید.</p>
  <p>
    5-6- در صورت عدم اجرای تعهد از جانب هر یک از طرفین، طرف دیگر حق فسخ قرارداد را دارد و طرف متخلف ملزم به پرداخت خسارت خواهد بود.
  </p>
  <p>
    <strong>ماده 7</strong>
  </p>
  <p>
    حق‌الزحمه مشاور املاک طبق تعرفه کمیسون نظارت شهرستان ...... به طور جداگانه به عهده طرفین است که همزمان با امضای این قرارداد مبلغ ...... ریال پرداخت شده و رسید دریافت نمایند. فسخ یا اقاله قرارداد تأثیری در میزان حق‌الزحمه نخواهد داشت.
  </p>
  <p>
    <strong>ماده 8</strong>
  </p>
  <p>
    این قرارداد اجاره در تاریخ ...... در دفتر مشاور املاک ...... به نشاني ...... در سه نسخه بین طرفین تنظیم و امضا و مبادله گردید. مشاور املاک موظف است ضمن ممهور نمودن نسخ قرارداد به مهر مخصوص دفتر املاک، نسخه اول و دوم را به مستأجر و موجر تسلیم نماید و نسخه سوم را در دفتر مخصوص بایگانی کند و هر سه نسخه دارای اعتبار یکسان است.
  </p>
  &nbsp;
  <table style="width:100%; border:none;">
    <tbody>
      <tr>
        <td style="text-align:center; width:33%;">امضاء موجر</td>
        <td style="text-align:center; width:33%;">امضاء مستأجر</td>
        <td style="text-align:center; width:33%;">امضاء و مهر مشاور املاک</td>
      </tr>
    </tbody>
  </table>
</div>
